extends layout

block content
	.container
		if (!user)
			a(href="/login") Login

		if (user)
			p You are currently logged in as #{user.username}
			a(href="/logout") Logout
			br
				
			table.table.table-striped(border='1')
				thead
					tr
						th #
						th ID
						th Game name
						th Highest score
						th Classific
						th Mainland
						th Date
					tbody
						each entry, i in entries
							tr
							td= i+1
							td= entry._id
							td= entry.game_specs.game_name
							td= entry.game_specs.highest_score
							td= entry.game_specs.classific
							td= entry.mainland
							td= entry.created_at

